{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>My blog posts</h1>
    <div class="row">
        <div class="card col-md-6 col-lg-12">
            <div class="card-body">
                <h4 class="card-text">{{post.title}}</h4>
                <h6>Posted by: {{post.user}}, at <small>{{ post.post_date }}</small></h6>
                <p class="card-text">{{ post.post_content }}</p>
                <div class="container">
                    <div class="row">
                        <a class="btn btn-danger" href="{{url_for('main.delete_post', post_id=post.id)}}">delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}