{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <center>
            <form method="POST">
                
                {{form.hidden_tag()}}

                <div class="form-group">
                    <label for="firstname">{{form.firstname.label}}</label>
                    {{form.firstname()}}
                </div>
        
                <div class="form-group">
                    <label for="lastname">{{form.lastname.label}}</label>
                    {{form.lastname}}
                </div>
                
                <div class="form-group">
                    <label for="email">{{form.email.label}}</label>
                    {{form.email()}}
                </div>

                <div class="form-group">
                    <label for="password">{{form.password.label}}</label>
                    {{form.password()}}
                </div>         
       
                
                <div class="form-group">
                    <label for="pass_confirm">{{form.pass_confirm.label}}</label>
                    {{form.pass_confirm()}}
                </div>

                <button class="btn btn-lg btn-primary">{{form.submit()}}</button>
            </form>
        </center>   
    </div>

{% endblock%}